<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Log in!{% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
{% block body %}
    <div style="margin: 45vh auto auto; width: fit-content; height: fit-content;">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Anmeldung</h1>
            <div style="display: flex; flex-direction: row; gap: 2rem;">
                <div style="display: flex; flex-direction: row; gap: 16px">
                    <label for="username">Username</label>
                    <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="username" required autofocus>
                </div>
                <div style="display: flex; flex-direction: row; gap: 16px">
                    <label for="password">Password</label>
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                </div>
                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}
            </div>
            <div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
            <button class="btn btn-lg btn-primary" style="float: right; margin-top: 24px;" type="submit">
                Login
            </button>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
</body>
</html>